# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# next-pwa
/src/public/precache.*.*.js
/src/public/sw.js
/src/public/workbox-*.js
/src/public/worker-*.js
/src/public/fallback-*.js
/src/public/precache.*.*.js.map
/src/public/sw.js.map
/src/public/workbox-*.js.map
/src/public/worker-*.js.map
/src/public/fallback-*.js

.idea
public